@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');  
:root{
    font-family: 'EB Garamond', serif;
}
body{
    margin: 0%;
}

header{display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-column: 1/3;
    text-align: center;
    background-color: #eee;
}
#logo{
    display: flex;  
    justify-content:baseline;
    width: 80%;
    height:70%;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    justify-content: center;
    gap:5%;
    text-align: center;
}

h3 {
    margin-top: 10px;
}
#title{
    grid-column: 2/4;
    padding-left: 19%;
    margin-right: 30%; 
    margin-top: 0%;   
    grid:flex;
    text-align:center;
    padding-right: 10%;
    font-size:500%;
    font-family: 'EB Garamond', serif;

}


nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 110%;
    text-align: center;
}
#container{
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 190px 2fr 3fr 1fr;
    gap:1%;
}

img{
    grid-column: 2/3;
    grid-row:2/3;
    width: 90%; 
    max-height: 400px;
    height: auto;
}
aside {
    display: flex;
    flex-direction: column;
    grid-column: 1 ; /* place the sidebar in the first column */
    grid-row:2/4;   /* place sidebar from row 2 to 4 */
    background-color: #eee;
    padding: 6rem;
}
fieldset{
    background-color: #eee;

}

footer{
    grid-column:1/3;
    background-color: #eee;
}
form{
    grid-row:3;
    display:flex;
    justify-content: center;
    background-color: navy;
    width: 70%;
    margin-left: 15%;
}

